[submodule "snoozy"]
	path = wearable/sw/snoozy
	url = https://github.com/aidanaalund/snoozy.git

[submodule "m1_demo"]
	path = wearable/sw/m1_demo
	url = https://github.com/aidanaalund/m1_demo.git

    [submodule "snoozy_final"]
	path = wearable/sw/m1_demo
	url = https://github.com/kieenton/snoozy_final.git